*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.section-1{
    width: 100%;
    background-image: url(../img/jumbo.png);
}

.container{
    width: 70%;
    margin: 0 auto;
    padding:10px 0;
}

.row{
    display: flex;
    align-content: space-between;
    margin: 10px 0;
}

.col-20{
    width: 20%;
    padding: 12px 0 0 0;
}

.header{
    text-align: right;
}

.button-menù{
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 8px;
}

.col-60{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menù{
    padding-right: 40px;
}
/* FINE HEADER */
/* MAIN */
.section-2{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container-2{
    width: 60%;
    margin: 0 auto;
    padding:15px 0;
}

.row-2{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.col-100{
    width: 100%;
    text-align: center;
}

.title{
    font-size: 35px;
    padding-bottom: 20px;
    color: white;
}

.paragraph{
    color: white;
    padding-bottom: 20px;
}

.button-header{
    border: none;
    border-radius: 10px;
}

.white{
    padding:10px;
}

.black{
    background-color: black;
    color: white;
    padding: 12px;
    margin-left: 20px;
}

.section-3{
    width: 100%;
    height: 500px;
}

.container-3{
    width: 80%;
    margin: 0 auto;
    padding:40px 0;
}

.row-3{
    display: flex;
    margin: 10px 0;
}

.col-40{
    width: 40%;
}

.col-60p{
    width: 60%;
}

.title-2{
    font-size: 26px;
    margin-top: 40px;
    text-align: center;
}

.paragraph-2{
    text-align: center;
    margin-top: 20px;
}

.section-4{
    width: 100%;
    height: 500px;
    background-color: lightgray;
    /* background-image: url(../img/wave.svg);
    background-size: cover; */
}

.title-3{
    text-align: left;
    font-size: 32px;
    margin-top:40px;
}

.paragraph-3{
    text-align: left;
    margin-top: 40px;
}

.title-4{
    text-align: left;
    font-size: 32px;
    margin-top:20px;
}

.paragraph-4{
    text-align: left;
    margin-top: 30px;
}

.section-5{
    width: 100%;
    height: 800px;
    background-color: lightgrey;
}

.container-4{
    width: 80%;
    margin: 0 auto;
    padding:15px 0;
}

.row-4{
    height: 750px;
    display: flex;
    margin: 10px 0;
}

.col100{
    width: 100%;
    border: 1px dashed black;
    background-color: green;
}
/* FINE MAIN */
/* FOOTER */
.section-6{
    width: 100%;
    height: 600px;
    background-color: rgb(46, 45, 45);
}

.container-5{
    width: 80%;
    height: 550px;
    margin: 0 auto;
    padding:10px 0;
}

.row-5{
    height: 550px;
    display: flex;
    margin: 5px 0 15px 0;
}

.col40{
    width: 40%;
    border: 1px dashed black;
    background-color: lightcoral;
}

.col15{
    width: 15%;
    border: 1px dashed white;
    background-color: rgb(7, 156, 144);
}

.section-footer{
    width: 100%;
    height: 80px;
    background-color: rgb(46, 45, 45);
}

.container-6{
    width: 70%;
    height: 40px;
    margin: 0 auto;
    padding:10px 0;
}

.row-6{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0;
    background-color: rgb(99, 207, 180);
}

.col-footer-20{
    width: 6%;
    height: 22px;
    align-self: center;
    border: 1px dashed black;
    background-color: lightcoral;
    text-align: center;
}
/* FINE FOOTER */